<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <h2 class="text-3xl text-active font-semibold mb-6">All Blogs</h2>
        <ul class="space-y-6 max-w-lg">
            <% if(blogs.length> 0) {%>
            <% blogs.forEach(blog=> { %>
            <li class="flex gap-x-4 hover:text-amber-400 transition-all duration-200 ease-in-out">
                <div class="min-h-full w-1 bg-amber-400"></div>
                <a href="/blogs/<%= blog._id %>">
                    <h3 class="text-xl font-medium mb-1">
                        <%=blog.title %>
                    </h3>
                    <p class="text-neutral-500 line-clamp-1"><%=blog.snippet %></p>
                </a>
            </li>
            <% }) %>
            <% } else {%>
            <p>No blogs yet</p>
            <% } %>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>